.about-page-container {
    background-color: #0d121c;
    color: #e0e6ec;
    height: 160vh;
    font-family: 'Arial', sans-serif;
    padding-top: 50px;
}

.about-content {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 40px;
    margin-top: 70px;
}


.section-title {
    font-size: 30px;
    font-weight: 700;
    color: #00d2ff;
    margin-bottom: 25px;
    text-shadow: 0 0 5px rgba(0, 210, 255, 0.4);
}

.about-me-text p {
    font-size: 17px;
    line-height: 1.8;
    color: #b0b8c3;
    margin-bottom: 20px;
}

.highlight-text {
    font-weight: bold;
    color: #e0e6ec;
}

.education-section {
    margin-top: 60px;
}

.education-header {
    margin-bottom: 40px;
}

.education-card {
    background-color: #1a222c;
    border-radius: 12px;
    padding: 25px;
    margin-bottom: 25px;
    border: 1px solid rgba(0, 210, 255, 0.1);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.card-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding-bottom: 8px;
    border-bottom: 1px solid #303840;
}

.card-header .icon {
    color: #00d2ff;
    margin-right: 15px;
}

.card-title {
    font-size: 20px;
    font-weight: 600;
    color: #00d2ff;
    margin: 0;
}

.card-details p {
    margin: 5px 0;
    padding-left: 39px;
    font-size: 15px;
    color: #a0a8b3;
}

.card-details .institution {
    font-weight: 500;
    color: #e0e6ec;
}

.card-details .date {
    font-style: italic;
    font-size: 14px;
    color: #7f8a9a;
}

@media(max-width:500px) {
    .about-page-container {
        background-color: #0d121c;
        color: #e0e6ec;
        height: 10%;
        font-family: 'Arial', sans-serif;
        padding-top: 50px;
    }

    .education-card {
        background-color: #1a222c;
        border-radius: 12px;
        padding: 25px;
        margin-bottom: 25px;
        border: 1px solid rgba(0, 210, 255, 0.1);
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    }
}