.contact-page-container {
    background-color: #0d121c;
    color: #e0e6ec;
    min-height: 120vh;
    font-family: 'Arial', sans-serif;
    padding-bottom: 50px;
    /* background-image: radial-gradient(circle at 50% 10%, rgba(0, 150, 255, 0.05), transparent 50%); */

}

.contact-content {
    max-width: 700px;
    margin: 0px auto;
    text-align: center;
    padding: 20px 20px;

}

.main-title {
    margin-top: 60px;
    font-size: 48px;
    font-weight: 800;
    color: #00d2ff;
    text-shadow: 0 0 15px rgba(0, 210, 255, 0.6);
    margin-bottom: 10px;
}

.subtitle {
    font-size: 18px;
    color: #a0a8b3;
    margin-bottom: 40px;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 50px;
}

.social-icon {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #000;
    border: 2px solid #00d2ff;
    box-shadow: 0 0 10px rgba(0, 210, 255, 0.8),
        inset 0 0 10px rgba(0, 210, 255, 0.8);
    transition: background-color 0.3s, transform 0.2s;
    align-content: center;
}

.social-icon:hover {
    background-color: rgba(0, 210, 255, 0.1);
    transform: scale(1.05);
}

.contact-form {
    display: grid;
    gap: 20px;
    max-width: 500px;
    margin: 0 auto;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 15px;
    background-color: #1a222c;
    border: 1px solid #303840;
    color: #e0e6ec;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #00d2ff;
    outline: none;
    box-shadow: 0 0 8px rgba(0, 210, 255, 0.5);
}

.contact-form textarea {
    resize: vertical;
}

.send-button {
    background: linear-gradient(90deg, #00d2ff, #0077ff);
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 0 15px rgba(0, 210, 255, 0.5);
    transition: opacity 0.3s, transform 0.1s;
}

.send-button:hover {
    opacity: 0.9;
    box-shadow: 0 0 20px rgba(0, 210, 255, 0.7);
}

.send-button:active {
    transform: scale(0.99);
}

@media (max-width:500px) {

    .contact-form input,
    .contact-form textarea {
        margin: auto;
        width: 91%;
        padding: 15px;
        background-color: #1a222c;
        border: 1px solid #303840;
        color: #e0e6ec;
        border-radius: 8px;
        font-size: 16px;
        transition: border-color 0.3s, box-shadow 0.3s;
    }

    .main-title {
        margin-top: 103px;
        font-size: 48px;
        font-weight: 800;
        color: #00d2ff;
        text-shadow: 0 0 15px rgba(0, 210, 255, 0.6);
        margin-bottom: 10px;
    }
}