.header {
    width: 100%;
    background: linear-gradient(to bottom, #000, #020b14);
    border-bottom: 1px solid rgba(0, 229, 255, 0.15);
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    z-index: 1;

}

.header-container {
    max-width: 1300px;
    /* margin: auto; */
    padding: 16px 20px;
    display: flex;


}


.logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo h2 {
    font-size: 28px;
    font-weight: 700;
    color: #00e5ff;
}

.logo-text h4 {
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 5px;
}

.logo-text p {
    font-size: 12px;
    color: #9aa6b2;
    margin-top: -2px;
}

/* Navigation */
header ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

header ul li {

    font-size: 18px;
    font-weight: 500;
    color: #333;
    position: relative;
    transition: color 0.3s ease;
}

header ul li a {
    text-decoration: none;
}

/* Hover underline animation */
header ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 2px;
    background-color: #00e5ff;
    transition: width 0.3s ease;
}

header ul li a:hover::after {
    width: 100%;
}

header ul li a:hover {
    color: #00e5ff;


}

/* Active link (optional if using NavLink) */
header ul li a.active {
    color: #6c63ff;
    font-weight: 600;
}

header ul li a.active::after {
    width: 100%;
}

/* Responsive */
@media (max-width: 768px) {
    header {
        padding: 10px 20px;
        flex-wrap: wrap;
    }

    header ul {
        gap: 18px;
    }

    .logo {
        font-size: 20px;
    }


}