.hero {
    background: radial-gradient(circle at 30% 30%, rgba(0, 255, 200, 0.08), transparent 80%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    color: #fff;
    font-family: "Poppins", sans-serif;

}

.hero-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 80px;

}


.hero-left {
    flex: 1;
    display: flex;
    justify-content: center;
}

.doteline {
    position: relative;
    width: 340px;
    height: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.doteline::before {
    content: "";
    position: absolute;
    inset: 0;
    border: 4px dashed #00e5ff;
    border-radius: 50%;
    animation: rotate 10s linear infinite;
}


.profile-ring {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    padding: 6px;
    background: linear-gradient(135deg, #00e5ff, #0066ff);
    z-index: 1;
}

.profile-ring img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    background: #fff;
}


@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


.hero-right {
    flex: 2;
}

.hero-right h1 {
    font-size: 48px;
    font-weight: 600;
}

.hero-right h1 span {
    color: #00e5ff;
}

.subtitle {
    margin: 15px 0 25px;
    color: #bfc9d6;
    font-size: 18px;
}


.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-bottom: 30px;
}

.tags span {
    padding: 8px 18px;
    border: 1px solid #00e5ff;
    border-radius: 25px;
    font-size: 14px;
    color: #00e5ff;
    transition: 0.2s ease-in-out;

}

.tags span:hover {

    border: 1px solid #000000;
    color: black;
    background-color: #00e5ff;
    transform: scale(1.1);
}

.info {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

.info-card {
    background: #020e18;
    padding: 15px 20px;
    border-radius: 12px;
    width: 220px;
    transition: 0.2s ease-in-out;
}

.info-card:hover {

    transform: scale(1.1);
}

.info-card h4 {
    margin-bottom: 5px;
    font-size: 14px;
}

.info-card p {
    font-size: 13px;
    color: #bfc9d6;
}


.social p {
    margin-bottom: 10px;
    font-size: 16px;
}





@media (max-width: 500px) {

    .hero {
        padding: 40px 16px;
    }

    .hero-container {
        z-index: -1;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 30px;
        margin-top: 84px;
    }


    .hero-left {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .profile-ring img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }


    .hero-right h1 {
        font-size: 26px;
        line-height: 1.3;
    }

    .hero-right h1 span {
        display: block;
    }

    .subtitle {
        font-size: 14px;
        margin-top: 10px;
    }


    .tags {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 8px;
        margin-top: 16px;
    }

    .tags span {
        font-size: 12px;
        padding: 6px 10px;
    }


    .info {
        flex-direction: column;
        gap: 12px;
        margin-top: 20px;
    }

    .info-card {
        width: 80%;
        text-align: center;
        padding: 12px;
        margin: auto;
    }

    .info-card:hover {

        transform: scale(1.1);
    }

    .info-card h4 {
        justify-content: center;
        gap: 6px;
        font-size: 14px;
    }

    .info-card p {
        font-size: 13px;
    }


    .social {
        margin-top: 24px;
        text-align: center;
    }

    .social p {
        font-size: 14px;
        margin-bottom: 8px;
    }
}