.projects-section {
    background: radial-gradient(circle at top, #020b14, #000);
    height: 120vh;
    padding: 91px 20px;
    color: #fff;

}

.projects-wrapper {
    max-width: 1300px;
    margin: auto;
    /* margin-top: 100px; */
    /* margin-top: 50px; */


}

.projects-header h2 {
    font-size: 42px;
    color: #00e5ff;
    /* margin-bottom: 10px; */



}

.projects-header p {
    /* margin-top: 50px; */
    color: #bfc9d6;
    max-width: 600px;
    /* margin-bottom: 22px; */
    font-size: 16px;
}


.projects-grid {
    margin-top: 62px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 35px;
}


.project-card {
    background: linear-gradient(180deg, #020e18, #01080f);
    border-radius: 22px;
    padding: 18px;
    transition: 0.4s ease;
    box-shadow: 0 0 20px rgba(0, 229, 255, 0.08);
}

.project-card:hover {
    transform: translateY(-12px);
    box-shadow: 0 0 40px rgba(0, 229, 255, 0.35);
}


.project-card img {
    width: 100%;
    height: 190px;
    object-fit: cover;

    border-radius: 16px;
    margin-bottom: 16px;
}


.project-card h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #00e5ff;
}

.project-card p {
    font-size: 14px;
    color: #bfc9d6;
    line-height: 1.6;
    margin-bottom: 16px;
}


.tech {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 18px;
}

.tech span {
    padding: 6px 12px;
    font-size: 12px;
    border-radius: 14px;
    border: 1px solid #00e5ff;
    color: #00e5ff;
}


.actions {
    display: flex;
    gap: 12px;
    justify-content: center;
}

.actions button {
    flex: 1;
    padding: 10px;
    border-radius: 22px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    transition: 0.3s ease;
}


.actions .code {
    background: transparent;
    border: 1px solid #00e5ff;
    color: #00e5ff;
}

.actions .code:hover {
    background: #00e5ff;
    color: #000;
}

.actions .live {
    text-decoration: none;
    text-align: center;
    border-radius: 15px;
    background: #00e5ff;
    color: #000;
    display: inline-block;
    padding: 10px 20px;
    width: 164px;
}

.actions .live:hover {
    background: transparent;
    border: 1px solid #00e5ff;
    color: #00e5ff;
}

@media (max-width:500px) {
    .project-card {
        width: 350px;
        margin: auto;
    }

    .projects-section {
        background: radial-gradient(circle at top, #020b14, #000);
        height: 100%;
        padding: 20px 20px;
        color: #fff;
    }

    .projects-header {
        margin-top: 91px;
    }

    .projects-header p {
        margin-top: 17px;
        color: #bfc9d6;
        max-width: 600px;
        margin-bottom: 22px;
        font-size: 16px;
    }

    .projects-grid {
        margin-top: 43px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 35px;
    }
}